<div class="about-page-wrapper">
  <div class="about-page-container">
    <div class="introduction-section"><p class="cursive-text">Hello,</p> <p class="large-text">I'm Erin.</p></div>
    <div class="adjectives-section">
      <ul>
        <li>Adaptable</li>
        <li>Big-Picture</li>
        <li>Introspective</li>
        <li>Problem Solver</li>
        <li>Adventurous</li>
      <ul>
    </div>
    <div class="bio-section">
      <p>I currently work at <a href="https://www.stryde.com/" target="_blank">Stryde</a> as an SEO Specialist.
        I'm unique in that I like to design, develop <span style="font-family: cursive;">and</span> optimize websites for search engines.
        Basically, I just like to nerd out on all things internet!
      </p>
      <p>
        I recently finished the After Hours bootcamp at <a href="https://devmountain.com/" target="_blank">DevMountain</a>, and am excited to gain more experience in front-end development.
      </p>
      <p style="margin-top: 15px!important">
        Looking to hire or need some help on your website? Please <a ui-sref="contact">contact me!</a></p>
      </p>
    </div>
  </div>
</div>
<div class="push"></div>
<div class="daisy-footer">
</div>
