<div class="resume-wrapper">
  <div class="resume-container">
    <div id="left-resume-panel">
      <div class="left-resume-wrapper">
        <img class="profile-picture" src="">
        <div class="contact-section">
          <p class="small-resume-header">Contact</p>
          <div class="info-wrapper">
            <p>Salt Lake City, UT 84111</p>
            <p style="height: 4px"></p>
            <p>vaagee1@gmail.com</p>
            <p>Tel: 515-306-5513</p>
          </div>
        </div>
        <div class="education-section">
          <p class="small-resume-header">Education</p>
          <div class="info-wrapper">
            <p><em>BA Health Promotion</em></p>
            <p>Central College, Pella, IA, 2013</p>
          </div>
        </div>
        <div class="skills-section">
          <p class="small-resume-header">Skills</p>
          <ul class="skills-list">
          <li>HTML5/CSS3</li>
          <li>Javascript</li>
          <li>AngularJS</li>
          <li>Wordpress</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="main-resume-panel">
      <div class="resume-logo">
      </div>
      <div class="name-banner">
        <h1>
          <p>Erin</p>
          <p>Vaage</p>
        </h1>
      </div>
      <div class="main-resume-info-wrapper">
        <div class="profile-section">
          <p class="resume-header">Objective</p>
          <p>
             Self-motivated Digital Marketing professional with 1 year of experience seeking to make a career switch to the field of website design and development.
          </p>
        </div>
        <div class="work-experience">
          <p class="resume-header">Work Experience</p>
          <div class="info-wrapper">
            <p class="job-title">SEO Specialist</p>
            <p>Stryde | Salt Lake City, UT | Oct. 2016 - Present </p>
            <ul class="job-bullet-points">
              <li>
                Analyze websites for technical errors and site issues
              </li>
              <li>
                Perform link reclamation and fix 404 errors
              </li>
              <li>
                Find and develop high quality backlinks
              </li>
              <li>
                Conduct in-depth keyword research for eCommerce and B2B partners
              </li>
              <li>
                Implement on-page SEO optimizations guided by keyword research to increase organic traffic growth
              </li>
              <li>
                Grew our former client, Cellercise, website’s organic traffic by 200% in 4 months.
              </li>
            </ul>
          </div>
          <div class="info-wrapper">
            <p class="job-title">Personal Trainer</p>
            <p>Waukee Wellness and Chiropractic | Waukee, IA | Nov. 2013-  Dec. 2014 & July 2015- July 2016</p>
            <ul class="job-bullet-points">
              <li>
                Trained patients in a one-on-one or group training session as a part of the “8 Weeks to Wellness” program or as
               an individualized rehabilitation program
              </li>
              <li>
                Designed personalized program for each patient customized to their health and fitness goals </li>
              <li>
                Collaborated with the chiropractor and massage therapists about the patient’s health status and fitness goals
              </li>
              <li>
                Measured and tracked patient’s weight, waist and hip circumferences, and other biometrics through BIA testing
              </li>
              <li>
                Created and taught monthly health and wellness related workshops for the community
              </li>
            </ul>
          </div>
          <div class="info-wrapper">
            <p class="job-title">Medical Programming Instructor</p>
            <p>YMCA Healthy Living Center | Clive, IA | Sept. 2015- May 2016</p>
            <ul class="job-bullet-points">
              <li>
                Performed safe and effective assessments and fitness tests on special populations or post-rehab clients with
                medical equipment and analyzed the subsequent data
              </li>
              <li>
                Developed safe and effective exercise and wellness programs for clients with cardiovascular, metabolic, neurologic,
                and musculoskeletal conditions
              </li>
              <li>
                Implemented a physical therapist community plan of care for functional electrical stimulation on the FES bike
              </li>
              <li>
                Taught and demonstrated utilization of equipment, correct exercise technique, and safety considerations in both
                land and water environments
              </li>
              <li>
                Updated medical program member rosters with frequent contacts, tracked member engagement in programs, and provided feedback to referral sources
              </li>
            </ul>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
